body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#d15e5e,#e7510b69,#ccbeab);
    font-weight: bold;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    text-align: left;
    color:white;
    font-family: cursive;
}

.faq-item h3 {
    margin-bottom: 10px;
    color:black;

}

