
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color:red;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testimonials {
    margin-top: 20px;
    /* Set a fixed height and enable scrolling */
    height: 300px; /* Adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.testimonial:last-child {
    border-bottom: none;
}

.testimonial p {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 10px;
}

.testimonial h3 {
    font-size: 14px;
    margin: 0;
    text-align: right;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:red;
    color: #fff;
}
